.border{
    border: 1px solid rgb(255, 116, 30);
}
.border1{
    border: 1px solid red;
}
.light{
    font-size: 0.75rem;
}
.bold{
    font-size: 0.90rem;
    font-weight: 600;
}

.borders{
    border: 2px solid transparent;
}
.borders:hover{
    border: 1.5px solid white;
    border-radius: 2px;
}